body{
    /* page color */
    background-color: #EAFFF5
}

.friendFinderContainer{
    margin: 50px;
    /* from top */
    font-family: Arial, Helvetica, sans-serif;
    /* font */
    /* container color */
    border-radius: 90%;
    /* curves on container */
}

.jumbotron{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: whitesmoke;
    /* padding-left: 50px; */
}

section.jumbotron{
    padding-right: 60px;
    padding-left: 60px;
}

.fa-facebook-square:before{
    color:  #EAD2AC;

}

.jumbotron{
    color: #FF686B

}

/* 
#surveryButton{
    align-content: right;
} */

h2{
    text-align: match-parent;
    color: #FFA69E;
    font-size: 32px;
}

hr{
    color: #4281A4;
}

button{
    background-color: red;

}